<div class="row">
    <div class="col-sm-12">
        <nav>
            <ul class="breadcrumb">
                <li class="breadcrumb-item active"><strong>Manage Books</strong></li>
            </ul>
        </nav>
    </div>
</div>